name: CI

on:
  pull_request:
  push:
    branches: [main, dev, stable]
  workflow_dispatch:

jobs:
  jest-test:
    uses: ./.github/workflows/jest-test.yaml

  create-timestamp:
    uses: ./.github/workflows/create-timestamp.yaml

  create-cache-key:
    uses: ./.github/workflows/create-cache-key.yaml

  android-build:
    strategy:
      matrix:
        arch: [x86_64, x86]
    uses: ./.github/workflows/android-build.yaml
    needs: create-cache-key
    with:
      cache-key: ${{ needs.create-cache-key.outputs.cache-key }}
      arch: ${{ matrix.arch }}

  android-ubuntu-integration-test-ci:
    strategy:
      matrix:
        config:
          - { abi: x86_64, api-level: 34 }
          - { abi: x86, api-level: 29 }
    uses: ./.github/workflows/android-ubuntu-integration-test-ci.yaml
    needs: [create-timestamp, android-build]
    with:
      timestamp: ${{ needs.create-timestamp.outputs.timestamp }}
      cache-key: ${{ needs.create-cache-key.outputs.cache-key }}
      abi: ${{ matrix.config.abi }}
      api-level: ${{ matrix.config['api-level'] }}

  android-ubuntu-e2e-test-ci:
    strategy:
      matrix:
        config:
          - { abi: x86_64, api-level: 32 }
          - { abi: x86, api-level: 28 }
    uses: ./.github/workflows/android-ubuntu-e2e-test-ci.yaml
    needs: [create-timestamp, android-build]
    with:
      timestamp: ${{ needs.create-timestamp.outputs.timestamp }}
      cache-key: ${{ needs.create-cache-key.outputs.cache-key }}
      abi: ${{ matrix.config.abi }}
      api-level: ${{ matrix.config['api-level'] }}

  ios-build:
    uses: ./.github/workflows/ios-build.yaml
    needs: create-cache-key
    with:
      cache-key: ${{ needs.create-cache-key.outputs.cache-key }}

  ios-integration-test:
    uses: ./.github/workflows/ios-integration-test.yaml
    needs: [create-timestamp, ios-build]
    with:
      timestamp: ${{ needs.create-timestamp.outputs.timestamp }}
      cache-key: ${{ needs.create-cache-key.outputs.cache-key }}
