name: Create timestamp

on:
  workflow_call:
    outputs:
      timestamp:
        description: "Timestamp"
        value: ${{ jobs.create-timestamp.outputs.timestamp }}

jobs:
  create-timestamp:
    name: Create timestamp
    runs-on: ubuntu-22.04
    outputs:
      timestamp: ${{ steps.create-timestamp.outputs.timestamp }}
    steps:
      - name: Create timestamp
        id: create-timestamp
        run: echo "timestamp=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT
